{% assign pagination = page.leaf %}
{% unless pagination.previous == nil and pagination.next == nil %}
<hr />
<ul class="pagination">
    {% unless pagination.previous == nil %}
    {% assign previous = site.tree[page.lang][pagination.previous.section][pagination.previous.chapter] %}
    {% if pagination.previous.section == 'home' %}
      {% assign title = site.data.locales[page.lang].sections.home %}
    {% else %}
      {% assign title = previous.title %}
    {% endif %}
    <li class="pagination-prev">
        <a class="pagination-link" href="{{ previous.url }}" title="{{ title }}">← {{ title }}</a>
    </li>
    {% endunless %}
    {% unless pagination.next == nil %}
    {% assign next = site.tree[page.lang][pagination.next.section][pagination.next.chapter] %}
    <li class="pagination-next">
        <a class="pagination-link" href="{{ next.url }}" title="{{ next.title }}">{{ next.title }} →</a>
    </li>
    {% endunless %}
</ul>
{% endunless %}
