# Order alphabetically.
# Order is important. The last matching pattern takes the most precedence.

# Default owners for everything in the repo.
*      @elixirschool/developers

en/    @elixirschool/english

es/    @elixirschool/spanish

fr/    @elixirschool/french

gr/    @elixirschool/greek

id/    @elixirschool/indonesian

it/    @elixirschool/italian

ja/    @elixirschool/japanese

ko/    @elixirschool/korean

pl/    @elixirschool/polish

pt/    @elixirschool/portuguese

ru/    @elixirschool/russian

sk/    @elixirschool/slovak

th/    @elixirschool/thai

uk/    @elixirschool/ukrainian

vi/    @elixirschool/vietnamese

zh_cn/ @elixirschool/chinese

zh_tw/ @elixirschool/traditional-chinese