# Order alphabetically.
# Order is important. The last matching pattern takes the most precedence.

# Default owners for everything in the repo.
*        @elixirschool/english

/lessons/en/      @elixirschool/english

/lessons/es/      @elixirschool/spanish

/lessons/fr/      @elixirschool/french

/lessons/gr/      @elixirschool/greek

/lessons/id/      @elixirschool/indonesian

/lessons/it/      @elixirschool/italian

/lessons/ja/      @elixirschool/japanese

/lessons/ko/      @elixirschool/korean

/lessons/pl/      @elixirschool/polish

/lessons/pt/      @elixirschool/portuguese

/lessons/ru/      @elixirschool/russian

/lessons/sk/      @elixirschool/slovak

/lessons/th/      @elixirschool/thai

/lessons/uk/      @elixirschool/ukrainian

/lessons/vi/      @elixirschool/vietnamese

/lessons/zh-hans/ @elixirschool/chinese

/lessons/zh-hant/ @elixirschool/traditional-chinese

