---
title: Contributors
layout: default
disable_transform: true
---
<!--
  If you are making changes to this file please keep in mind:

  - contributors are ordered by date of first commit.
-->
<section id="section-page">
  <header class="main">
    <h1>Contributors</h1>
  </header>
  <p class="content"><span style="font-weight: 600">Calling all contributors:</span> if you've been missed, now's your chance to get the recognition you deserve. Add your Github profile to the <a href="https://github.com/elixirschool/elixirschool/edit/master/_data/contributors.yml" target="_blank">list of contributors</a>.</p>
  {% for contributor in site.data.contributors %}
    <div class="box">
      {% include contributor-profile.html contributor=contributor %}
      {% for contribution in contributor.contributions %}
        {% unless contribution == "developer" %}
          <div class="box contributor">
            {% if contribution == "lesson" %}
              <h4>Lessons</h4>
              <ul>
              {% for lesson in contributor.lessons %}<li>{{ lesson }}</li>{% endfor %}
              </ul>
            {% endif %}
            {% if contribution == "blog" %}
              <h4>Articles</h4>
              <ul>
                {% for article in contributor.articles %}<li>{% include function-getArticle.html article=article %}<a href="{{ post.url }}">{{ post.title }}</a></li>{% endfor %}
              </ul>
            {% endif %}
            {% if contribution == "translator" %}
              <h4>Translations</h4>
              <ul>
                {% for language in contributor.languages %}<li><a href="/{{language}}/lessons/basics/basics">{{ site.data.locales['en'].interlang[language] }}</a></li>{% endfor %}
              </ul>
            {% endif %}
          </div>
        {% endunless %}
      {% endfor %}
    </div>
  {% endfor %}

</section>
