<div class="row profile">
  <div class="1u 2u(medium) 12u$(small)"><img src="https://github.com/{{ contributor.github }}.png" alt="" style="max-width: 60px;"></div>
  <div class="11u 10u(medium) 12u$(small)">
    <h2>
    {% if include.contributor.name %}
      <a href="https://github.com/{{ include.contributor.github }}">{{include.contributor.name}}</a>
    {% else %}
      <a href="https://github.com/{{ include.contributor.github }}">@{{include.contributor.github}}</a>
    {% endif %}
    </h2>
    <p class="content">{{ include.contributor.intro }}</p>
    <ul class="icons">
      {% if include.contributor.homepage %}
      <li><a href="{{ include.contributor.homepage }}" class="icon"><i class="fa fa-globe"></i> <span class="label">Homepage</span></a></li>
      {% endif %}
      {% if include.contributor.twitter %}
      <li><a href="https://twitter.com/{{ include.contributor.twitter }}" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
      {% endif %}
      <li><a href="https://github.com/{{ include.contributor.github }}" class="icon fa-github"><span class="label">Github</span></a></li>
    </ul>
  </div>
</div>
