<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <link href="http://gmpg.org/xfn/11" rel="profile">

  <meta name="description" content="{{ site.description[lang] }}">
  <meta name="author" content="Sean Callan">

  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:site_name" content="ElixirSchool">
  <meta property="og:title" content="{{locale.title}}">
  <meta property="og:description" content="{{ site.description[lang] }}">
  <meta property="og:image" content="{{ site.og_image }}">

  {% if locale.title == page.title or page.title == nil %}
    <title>{{ locale.title }}</title>
  {% else %}
    <title>{{ page.title }} &middot; {{ locale.title }}</title>
  {% endif %}

  <!-- CSS -->
  {% stylesheet app %}

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

  <script type="text/javascript">
  !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
  analytics.load("C0p07Sw9j7mZnycKDCgPOAyqJR5hhyoQ");
  analytics.page()
  }}();
  </script>

</head>
