<!-- Section -->
<section>
  <header class="major">
    <h2>Get in touch</h2>
  </header>
  <p>Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
  <ul class="contact">
    <li class="fa-envelope-o"><a href="#">information@untitled.tld</a></li>
    <li class="fa-phone">(000) 000-0000</li>
    <li class="fa-home">1234 Somewhere Road #8254<br />
    Nashville, TN 00000-0000</li>
  </ul>
</section>
