{% if page.lang %}
<!-- Locales Section -->
<section id="search" class="alt">
  <div id="locales">

      {% for _interlang_chapter in site.tree[page.lang][page.section][page.chapter]['interlang'] %}
        {% assign _lang = _interlang_chapter[0] %}
        {% assign _lang_name = site.interlang_names[page.lang][_lang]['combined'] %}

        {% if _lang == page.lang %}
          <strong {% if _lang_name %}title="{{ _lang_name }}"{% endif %}>{{ _lang }}</strong>
        {% else %}
          <a href="{{ _interlang_chapter[1]['url'] }}" {% if _lang_name %}title="{{ _lang_name }}"{% endif %}>{{ _lang }}</a>
        {% endif %}
      {% endfor %}

  </div>
</section>
{% endif %}
