<!-- Section -->
  <section>
    <div class="mini-posts">
      {% for post in site.posts %}
      {% if post.pinned %}
      <article>
        <a href="{{ post.url }}" class="image">{% img "{{ post.preview }}" %}</a>
        <!-- {{ post.excerpt }} -->
        <h3><a href="{{ post.url }}">{{post.title}}</a></h3>
      </article>
      {% endif %}
      {% endfor %}
    </div>
    <ul class="actions">
      <li><a href="/appendix/" class="button{% unless locale.disable_transform %} up{%endunless%}">More</a></li>
    </ul>
  </section>
