<section class="section-prevnext">
  <div class="row">
    <div class="6u 12u$(small)">
      {% if page.previous %}
        <h4 class="title is-7 has-text-grey-light">Previous article</h4>
        <a class="button special fit" href="{{ page.previous.url | prepend: site.baseurl | prepend: site.url  }}" title="{{ page.previous.title }}" rel="prev">&laquo; {{page.previous.title | truncate: 50 }}</a>
      {% else %}
        <h4 class="title is-7 has-text-grey-light">Current article</h4>
        {{page.title}}
      {% endif %}
    </div>
    <div class="6u 12u$(small)">
      {% if page.next %}
        <h4>Next article</h4>
        <a class="button special fit" href="{{ page.next.url | prepend: site.baseurl | prepend: site.url }}" title="{{ page.next.title }}" rel="next">{{page.next.title | truncate: 50 }} &raquo;</a>
      {% else %}
        <h4>Current article</h4>
        {{page.title}}
      {% endif %}
    </div>
  </div>
</section>
