{% assign lang = page.lang || site.default_lang %}
<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{site.baseurl}}">
          {{site.title}}
        </a>
      </h1>
      <p class="lead">{{site.description[lang]}}</p>
    </div>

    <nav class="sidebar-nav">
      {% if page.category == nil %}
        {% assign current_category = site.sections[0].tag | strip %}
      {% else %}
        {% assign current_category = page.category | strip %}
      {% endif %}
      {% for section in site.sections %}
        {% assign title = section.label[lang] %}
        {% assign current_tag = section.tag | strip %}
        {% assign list = site.pages | where: "category", current_tag | where: "lang", lang | sort: "order" %}
        {% unless list == empty %}
          <div class="sidebar-nav-group {{section.tag}}">
            <div class="sidebar-nav-header">
              <i class="fa {% if current_category != current_tag %} fa-chevron-right {% else %} fa-chevron-down {% endif %}"></i>
              <span>{{title}}</span>
            </div>
            <div class="sidebar-nav-list" {% if current_category != current_tag %} style="display: none;" {% endif %}>
              {% for node in list %}
                <div class="sidebar-nav-item">
                  {{node.order}}. <a class="sidebar-lesson {% if page.url == node.url %} active{% endif %}" href="{{node.url}}">{{node.title}}</a>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endunless %}
      {% endfor %}
    </nav>

    <div id="languages">
      {% assign url = page.url | slice: 3, 99 %}
      <p>
        {% for lang in site.languages %}
          {% if lang == page.lang %}
            <strong>{{lang}}</strong>
          {% else %}
            <a href="/{{lang}}{{url}}">{{lang}}</a>
          {% endif %}
        {% endfor %}
      </p>
    </div>

    <p>&copy; {{ site.time | date: '%Y' }} <a href="https://github.com/doomspork">Sean Callan</a></p>
  </div>
</div>
