{% if page.title == page.locale.project.title or page.title == "Elixir School" %}
  {% assign title = page.locale.project.description %}
{% else %}
  {% assign title = page.title %}
{% endif %}
<hr />
<h3 id="social">
  {{ page.locale.share }}
</h3>
<div class="social__container">
  <div class="social__item">
    <a target="_blank" rel="noopener" title="LinkedIn" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ title }}&summary=description&source={{ site.url }}" class="social__icon--linkedin"><i class="icon--linkedin"></i></a>
  </div>
  <div class="social__item">
    <a target="_blank" rel="noopener" title="Twitter" href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&via=elixirschool&text=ElixirSchool: {{ title }}&hashtags=learnelixir%2Celixirlang&" class="social__icon--twitter"><i class="icon--twitter"></i></a>
  </div>
  <div class="social__item">
    <a target="_blank" rel="noopener" title="Google+" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" class="social__icon--google"><i class="icon--google"></i></a>
  </div>
  <div class="social__item">
    <a target="_blank" rel="noopener" title="Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" class="social__icon--facebook-f"><i class="icon--facebook-f"></i></a>
  </div>
  <div class="social__item">
    <a target="_blank" rel="noopener" title="Pinterest" href="https://www.pinterest.com/pin/create/link/?url={{ site.url }}{{ page.url }}&media={{ site.url }}{% asset_path 'og_image.jpg' %}&description=ElixirSchool: {{ title }}" class="social__icon--pinterest2"><i class="icon--pinterest2"></i></a>
  </div>
  <div class="social__item">
    <a target="_blank" rel="noopener" title="Evernote" href="https://www.evernote.com/noteit.action?url={{ site.url }}{{ page.url }}&title=ElixirSchool: {{ title }}&suggestTags=elixir,programming" class="social__icon--evernote"><i class="icon--evernote"></i></a>
  </div>
  <div class="social__item">
    <a target="_blank" rel="noopener" title="VK" href="https://vk.com/share.php?url={{ site.url }}{{ page.url }}&title=ElixirSchool: {{ title }}&description=Check out '{{ title }}' on ElixirSchool" class="social__icon--vk" style="margin-left: 2px;"><i class="icon--vk"></i></a>
  </div>
  <div class="social__item">
    <a target="_blank" rel="noopener" title="Email" href="mailto:?to=&subject=ElixirSchool: {{ title }}&body=Check out '{{ title }}' on ElixirSchool%0D%0A%0D%0A{{ site.url }}{{ page.url }}" class="social__icon--mail"><i class="icon--mail"></i></a>
  </div>
  <div class="social__item">
    <a title="Print" href="javascript:window.print()" class="social__icon--print"><i class="icon--print"></i></a>
  </div>
</div>