<h1 class="page-title">
  <span class="version-difference-indicator version-difference-{{ page.version_severity }}"></span>
  {{ page.title }}
</h1>
<div class="version-info version-info-{{ page.version_severity }}">
  <span>
    {% if page.version_severity  == 'error' %}
      {{ page.locale.version_messages.error | default: site.default_locale.version_messages.error }}<br/>
      {{ site.tree[site.default_lang][page.section][page.chapter].version | inspect }} vs {{ page.version | inspect }}<br/>
    {% elsif page.version_severity  != 'none' %}
      {{ page.locale.version_messages.outdated }}<br/>
    {% endif %}

    {{ page.locale.version_messages[page.version_severity] }}
  </span>
</div>
