.not_found {
  text-align: center;
  color: _purple(fg-hov);

  &-code {
    font-size: 12em;
    font-weight: bold;
    line-height: 1.25;
  }

  &-text {
    font-size: 2em;
    line-height: 1.25;
  }
}
