#contributors {
  a {
    margin: 5px;
  }

  img {
    border: 1px dashed #4B365F;
    display: inline;
    width: 50px;
    height: 50px;
  }

  /* tooltip */
  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .tooltiptext {
    width: 120px;
    background-color: rgba(255,255,255,0);
    color: #4B365F;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;

    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s linear;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s linear;
  }

  .tooltip .tooltiptext {
    width: 120px;
    font-size: 0.7em;
    top: 67%;
    left: 50%; 
    /* Use half of the width (120/2 = 60), to center the tooltip */
    margin-left: -60px; 
  }
}
