/*
 * Custom Theme Classes
 */

.theme-custom-purple .sidebar {
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAALUlEQVQYV2P0Mov/z0AEYKRY4f///58zMjJKwiyj3ER0Z9PIRHSHYwst6lsNAMs/GrcD9Fh5AAAAAElFTkSuQmCC) repeat;
}
.theme-custom-purple .content a,
.theme-custom-purple .related-posts li a:hover {
  color: #4A365F;
}

h2 {
 color: #F07E6B;
}

.sidebar-lesson {
  margin-left: 10px;
}

a.sidebar-lesson:hover,
a.sidebar-lesson:focus {
  text-decoration: underline;
}
.sidebar-lesson.active {
  font-weight: bold;
}

/*
 * Overrides theme's sidebar so content isn't cut off
 */
.sidebar {
    overflow-y: scroll;
}

.sidebar-sticky {
    top: 1rem;
}

.sidebar-nav-item {
  border-radius: 3px;
  margin: 0 0 5px;
  text-align: left;
  background: rgba(255, 255, 255, 0.05);
  padding: 0 15px;
}

.sidebar-nav-group {
  padding-bottom: 0;
}

.sidebar-nav-header {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  cursor: pointer;
  display: block;
  margin: 0 0 5px;
  padding: 5px 10px 0;
  text-align: left;
  vertical-align: middle;

  span {
    font-weight: bold;
    line-height: 1.25;
    font-size: 1.5rem;
    color: #F07E6B;
  }

  i {
    padding-bottom: 10px;
    vertical-align: middle;
    width: 20px;
  }
}

@media (min-width: 48em) {
  .sidebar-nav-item {
    background: none;
    border: none;
    margin: 0;
    background: none;
    padding: 0 0 0 5px;
  }

  .sidebar-nav-group {
    padding-bottom: 10px;
  }

  .sidebar-nav-header {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
  }
}
