/*
 * Custom Theme Classes
 */
$header-color: #F07E6B;
$anchor-color: #4A365F;

.theme-custom-purple .sidebar {
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAALUlEQVQYV2P0Mov/z0AEYKRY4f///58zMjJKwiyj3ER0Z9PIRHSHYwst6lsNAMs/GrcD9Fh5AAAAAElFTkSuQmCC) repeat;
}
.theme-custom-purple .content a,
.theme-custom-purple .related-posts li a:hover {
  color: $anchor-color;
}
.theme-custom-purple .content a {
  text-decoration: underline;
}

h2 {
 color: $header-color;
}

.sidebar-lesson {
  margin-left: 10px;
}

a.sidebar-lesson:hover,
a.sidebar-lesson:focus {
  text-decoration: underline;
}

.sidebar-lesson.active {
  font-weight: bold;
}

.page-title {
  display: inline-flex;
  align-items: center;
}

i.back-to-top {
  display: inline;
  cursor: pointer;
  padding-left: 1em;
  color: $anchor-color;

  &::after {
    content: '\A';
    white-space: pre;
  }
}

.theme-custom-purple .content .clickable-header {
  display: inline-block;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

/*
 * Overrides theme's sidebar so content isn't cut off
 */
.sidebar {
    overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar-sticky {
    top: 1rem;
}

.sidebar-nav-item {
  border-radius: 3px;
  margin: 0 0 5px;
  text-align: left;
  background: rgba(255, 255, 255, 0.05);
  padding: 0 15px;
}

.sidebar-nav-group {
  padding-bottom: 0;
}

.sidebar-nav-header {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  cursor: pointer;
  display: block;
  margin: 0 0 5px;
  padding: 5px 10px 0;
  text-align: left;
  vertical-align: middle;

  span {
    font-weight: bold;
    line-height: 1.25;
    font-size: 1.5rem;
    color: $header-color;
  }

  i {
    padding-bottom: 10px;
    vertical-align: middle;
    width: 20px;
  }
}

@media (min-width: 48em) {
  .sidebar-nav-item {
    background: none;
    border: none;
    margin: 0;
    padding: 0 0 0 5px;
  }

  .sidebar-nav-group {
    padding-bottom: 10px;
  }

  .sidebar-nav-header {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
  }
}

/**
 * Right-to-left languages
 */
body.rtl {
    direction: rtl;
    unicode-bidi: embed;
}
body.rtl pre {
    direction: ltr;
    text-align: left;
}
body.rtl .content {
    margin-right: auto;
}

/**
 * Versioning
 */

.version-difference-indicator {
  width: 0.5em;
  height: 0.5em;
  margin: 0 0.25em 0 0;
  border-radius: 50%;
}

.version-info {
  width: 100%;
  font-size: 0.75em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  border: 1px solid transparent;
  cursor: pointer;
}

$version_color_map: (
  "major": "#f00",
  "minor": "#f60",
  "patch": "#fc3",
  "none": "#9f0"
);

@each $severity, $color in $version_color_map {

  .version-info-#{$severity} {
    border-color: #{$color};
  }

  .version-difference-#{$severity} {
    background-color: #{$color};
  }

}