body.dark {
  background-color: _dark(bg);
  color: _dark(fg);

  // Typography
  input, select, textarea {
    color: _dark(fg);
  }

  h1, h2, h3, h4, h5, h6 {
    color: _dark(fg-bold);

  }

  a {
    color: _purple(bg);
    &:hover {
      color: lighten(#4A365F, 55%) !important; // fixed
    }
  }
  button, .button {
    color: lighten(_purple(fg), 20%) !important;
  }
  strong, b {
    color: _dark(fg-bold);
  }

  hr {
    border-bottom: solid 1px _dark(border);
  }

  blockquote {
    border-left: solid 3px _dark(border);
  }

  code {
    color: _dark(fg);
    background: _dark(bg-alt);
    border: solid 1px _dark(border);
  }

  .highlight {
    background: _dark(bg);

    .gd, .ge, .gi, .gu, .k, .kd, .kn, .kp, .kr, .kv, .o, .ow {
      color: #fff; // 000
    }

    .gi {
      background-color: darken(#ddffdd, 10%);
    }

    .gp, .nn {
      color: #555;
    }

    .go {
      color: #888;
    }

    .bp, .cp, .cs, .gh {
      color: #999;
    }

    .gu {
      color: #aaa;
    }

    .w {
      color: #bbb;
    }

    .gr, .gt {
      color: #aa0000;
    }

    .c, .c1, .cm, .cd {
      color: #999988;
    }

    .kt, .nc {
      color: #445588;
    }

    .ni {
      color: #800080;
    }

    .na, .no, .nv, .vc, .vg, .vi,  {
      color: lighten(#008080, 20%);
    }

    .nb {
      color: lighten(#0086B3, 20%);
    }

    .nt {
      color: lighten(#000080, 50%);
    }

    .nd {
     color: #3c5d5d;
    }
    .ne, .nf, .nl {
      color: #990000;
    }
    .mf, .mh, .il, .mi, .mo, .m, .mb, .mx {
      color: lighten(#009999, 20%);
    }

    .err {
      background-color: #a61717;
      color: #fff;
    }

    .ss {
      color: lighten(#990073, 50%);
    }
    .sr {
      color: #009926;
    }
    .s, .s1, .s2, .sb, .sc, .sd, .se, .sh, .si, .sx {
      color: lighten(#d14, 20%);
    }
  }

  #footer.copyright {
    color: _dark(fg-light);
  }

  #sidebar {
    background-color: _dark(bg-alt);

    > .inner {

      > .alt {
        background-color: darken(#3d4449, 2); // fixed
      }
    }

    .toggle {
      -webkit-tap-highlight-color: rgba(255,255,255,50);

    }
    @include breakpoint(small) {
      .toggle {
        &:before {
          color: _dark(fg);
        }
        &:after {
          background: transparentize(lighten(_dark(fg), 35), 0.25);

        }
      }
    }
  }

  #menu {
    ul {
      color: _dark(fg-bold);
      a, span {
        &.opener {
          -webkit-tap-highlight-color: rgba(255,255,255,50);
          &:before {
            color: lighten(_dark(fg-light), 5%);
          }
          &:hover {
            &:before {
              color: _purple(bg);
            }
          }
        }
      }
    }
    > ul {
      > li {
        border-color: _dark(border);
        > ul {
          color: _dark(fg);
          a, span {
            // delete?
            color: _dark(fg-light);
          }
        }
      }
    }
  }
}
