$icon-chevron-left: "\f053";
$icon-chevron-right: "\f054";
$icon-chevron-up: "\f077";
$icon-chevron-down: "\f078";
$icon-facebook2: "\f09a";
$icon-facebook-f: "\f09a";
$icon-chevron-down2: "\e90f";
$icon-chevron-left2: "\e910";
$icon-chevron-right2: "\e911";
$icon-chevron-small-down: "\e903";
$icon-chevron-small-left: "\e904";
$icon-chevron-small-right: "\e906";
$icon-chevron-small-up: "\e908";
$icon-chevron-up2: "\e912";
$icon-mail: "\e900";
$icon-print: "\e901";
$icon-evernote: "\e902";
$icon-vk: "\e905";
$icon-google: "\e90c";
$icon-linkedin: "\e907";
$icon-pinterest2: "\e90e";
$icon-twitter: "\e909";
