@import "icon_variables";

@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?6e0xvi');
  src:  url('#{$icomoon-font-path}/icomoon.eot?6e0xvi#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?6e0xvi') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?6e0xvi') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?6e0xvi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 14px;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Additional from FontAwesome */
  font-size: inherit;
  display: inline-block;
  text-rendering: auto;
}

.icon-chevron-left {
  &:before {
    content: $icon-chevron-left;
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right;
  }
}
.icon-chevron-up {
  &:before {
    content: $icon-chevron-up;
  }
}
.icon-chevron-down {
  &:before {
    content: $icon-chevron-down;
  }
}
.icon-facebook2 {
  &:before {
    content: $icon-facebook2;
  }
}
.icon-facebook-f {
  &:before {
    content: $icon-facebook-f;
  }
}
.icon-chevron-down2 {
  &:before {
    content: $icon-chevron-down2;
  }
}
.icon-chevron-left2 {
  &:before {
    content: $icon-chevron-left2;
  }
}
.icon-chevron-right2 {
  &:before {
    content: $icon-chevron-right2;
  }
}
.icon-chevron-small-down {
  &:before {
    content: $icon-chevron-small-down;
  }
}
.icon-chevron-small-left {
  &:before {
    content: $icon-chevron-small-left;
  }
}
.icon-chevron-small-right {
  &:before {
    content: $icon-chevron-small-right;
  }
}
.icon-chevron-small-up {
  &:before {
    content: $icon-chevron-small-up;
  }
}
.icon-chevron-up2 {
  &:before {
    content: $icon-chevron-up2;
  }
}
.icon-mail {
  &:before {
    content: $icon-mail;
  }
}
.icon-print {
  &:before {
    content: $icon-print;
  }
}
.icon-evernote {
  &:before {
    content: $icon-evernote;
  }
}
.icon-vk {
  &:before {
    content: $icon-vk;
  }
}
.icon-google {
  &:before {
    content: $icon-google;
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin;
  }
}
.icon-pinterest2 {
  &:before {
    content: $icon-pinterest2;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
