*,
*::before,
*::after {
  box-sizing: border-box;
}

// List of icon unicode symbols from the icon font
// and background colours for the icons
$icon-list: (
  linkedin "\e907" #0087be,
  twitter "\e909" #32b9e7,
  google "\e90c" #fa5432,
  facebook "\e903" #4b70ab,
  facebook-with-circle "\e90a" #4b70ab,
  facebook2 "\f09a" #4b70ab,
  facebook-f "\f09a" #4b70ab,
  pinterest2 "\e90e" #d63533,
  evernote "\e902" #aaca62,
  vk "\e905"#507299,
  mail "\e900" #fb7629,
  print "\e901" #167ab6,
);

// Each loop for creating the icon CSS
@each $icon, $unicode, $icon-background in $icon-list {

  .icon--#{$icon} {
    &::before {
      content: $unicode;
    }
  }

  .social__icon--#{$icon} {
    background-color: $icon-background;

    &:hover {
      // Swap black for white to make the icons lighter on hover
      background-color: mix(black, $icon-background, 15%);
    }

  }

}

// Display icons next to each other
.social__item {
  display: inline-block;
  margin-right: 0.4em;
}

div.social__item a[class^="social__icon"] {
  text-decoration: none;
  color: #fff;
}

// Basic icon style
.icon {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  // Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Extend icon to all other icons
[class^="icon--"] {
  @extend .icon;
}

// Icon background
.social__icon {
  font-size: 1.2em;
  color: white;
  text-decoration: none;
  // Remove border radius to make icons square
  border-radius: 100%;
  width: 1.6em;
  height: 1.6em;
  text-align: center;

  // Vertical Centering
  display: flex;
  align-items: center;
  justify-content: center;
}

// Extend social__icon to all other icons
[class^="social__icon"] {
  @extend .social__icon;
}

// Add padding to icons container
.social__container {
  padding: 0;
  font-size: 1.2em;
}

#github_ribbon img {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

@media print {
  #social, .social__container, #github_ribbon {
    display: none;
  }
}
