{% comment %}
  # ANY MODIFICATION IN THE LOGIC DEFINING VARIABLES: lang, section and chapter,
  # SHOULD BE UPDATED IN _plugins/languages.rb IN METHODS: get_lang_from_url,
  # get_section_from_url, get_chapter_from_url AND VICEVERSA
{% endcomment %}

{% assign url_split = page.url | split: '/' %}

{% if url_split.size >= 2 %}
  {% assign lang = url_split[1] | strip %}
{% else %}
  {% assign lang = site.default_lang %}
{% endif %}

{% if url_split[4] == "lessons" and url_split[3] != nil %}
  {% assign section = url_split[3] | strip %}
{% elsif url_split.size == 2 %}
  {% assign section = "home" %}
{% endif %}

{% if url_split[2] == "lessons" and url_split[4] != nil %}
  {% assign chapter = url_split[4] | strip %}
{% elsif url_split.size == 2 %}
  {% assign chapter = "home" %}
{% endif %}

{% assign locale = site.data.locales[lang] %}

<!DOCTYPE html>
<html lang="{{ lang }}{% if locale.lang_country %}-{{ locale.lang_country }}{% endif %}">
  {% include head.html %}
  <body class="theme-custom-purple {{ locale.script_direction }}">
    <a id="github_ribbon" href="https://github.com/doomspork/elixir-school"><img src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>

    {% include sidebar.html %}

    <div class="content container">
      {{ content }}
    </div>
  {% javascript app %}
  </body>
</html>
