---
layout: default
---

{% include function-getContributor type="name" search=page.author %}

<section id="section-page">
  <header class="main">
    <h1 class="post-title">{{ page.title }}</h1>
    <p>{% assign author_url = contributor.homepage | default: 'https://github.com/' | append: contributor.github %} {{ page.date | date_to_string }} · by <a href="{{ author_url }}">{{page.author}}</a></p>
  </header>
  <div class="content">
    {{ content }}
  </div>
</section>
{% include section-prevnext.html %}
{% include section-author.html %}
