---
layout: default
---
{%- if page.authors -%}
  {%- capture links -%}
    {%- for author in page.authors -%}
      {% include function-getContributor type="name" search=author %}
      {% include function-displayAuthor contributor=contributor %}\
    {%- endfor -%}
  {%- endcapture -%}
  {% assign authors = links | split: "\" | array_to_sentence_string %}
{%- else -%}
  {%- capture authors -%}
    {% include function-getContributor type="name" search=page.author %}
    {% include function-displayAuthor contributor=contributor %}
  {%- endcapture -%}
{%- endif -%}

<section id="section-page">
  <header class="main">
    <h1 class="post-title">{{ page.title }}</h1>
    <p>{{ page.date | date_to_string }} · by {{ authors }}</p>
  </header>
  <div class="content">
    {{ content }}
  </div>
</section>
{% include section-prevnext.html %}
<section> 
  {%- if page.authors -%}
    {%- for author in page.authors -%}
      {% include function-getContributor type="name" search=author %}
      {% include section-author.html %}
      <hr>
    {%- endfor -%}  
  {%- else -%}
    {% include function-getContributor type="name" search=page.author %}
    {% include section-author.html %}
  {%- endif -%}  
</section>
