name: Check

on:
  pull_request:
    branches: [ master ]

jobs:
  jekyll_build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-ruby@v1
      with:
        ruby-version: "2.6"
    - uses: actions/cache@v2
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-gems-
    - run: gem install bundler
    - run: bundle config path vendor/bundle
    - run: bundle install --jobs 4 --retry 3
    - run: mkdir public
    - run: bundle exec jekyll build --destination ./public
